
<div class="container">
  <div class="row">
    <% data.flats.each do |flat, detail| %>
    <div class="col-md-4">
      <div class="card" style="background-image: url(<%="https://kitt.lewagon.com/placeholder/cities/#{detail.city}"%>);">
          <h2><%= detail.location %></h2>
          <p><%= detail.name %></p>
          <p><%= detail.description %></p>
        </div>
    </div>
    <% end %>
  </div>
</div>
